---
layout: home
title: Daily Programmer
---

<p>
    The 5 most recent challenges that I've attempted in each category. 
    Click on the header to see all attempted challenges in that category.
</p>

<!-- 
    We can't initialize arrays using only Liquid. Hard coding it is! 
    https://shopify.github.io/liquid/basics/types/#array
-->

{% assign posts = site.hard_challenges | where: "type", "writeup" | sort: 'date' | reverse | slice: 0, 4 %}
{% if posts.size > 0 %}
    {% assign toc_file = site.hard_challenges | where: "type", "toc" | first %}
    <a href="{{toc_file.url}}"><h2>{{ toc_file.title }}</h2></a>
    <ul>
    {% for post in posts %}
        <li>
            <span>{{ post.date | date_to_string }}</span> » <a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a>
        </li>
    {% endfor %}
    </ul>
{% endif %}

{% assign posts = site.intermediate_challenges | where: "type", "writeup" | sort: 'date' | reverse | slice: 0, 4 %}
{% if posts.size > 0 %}
    {% assign toc_file = site.intermediate_challenges | where: "type", "toc" | first %}
    <a href="{{toc_file.url}}"><h2>{{ toc_file.title }}</h2></a>
    <ul>
    {% for post in posts %}
        <li>
            <span>{{ post.date | date_to_string }}</span> » <a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a>
        </li>
    {% endfor %}
    </ul>
{% endif %}

{% assign posts = site.easy_challenges | where: "type", "writeup" | sort: 'date' | reverse | slice: 0, 4 %}
{% if posts.size > 0 %}
    {% assign toc_file = site.easy_challenges | where: "type", "toc" | first %}
    <a href="{{toc_file.url}}"><h2>{{ toc_file.title }}</h2></a>
    <ul>
    {% for post in posts %}
        <li>
            <span>{{ post.date | date_to_string }}</span> » <a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a>
        </li>
    {% endfor %}
    </ul>
{% endif %}