---
layout: default
title: Daily Programmer
---

<p>
    The 5 most recent challenges that I've attempted in each category*:
</p>

<!-- 
    We can't initialize arrays using only Liquid. Hard coding it is! 
    https://shopify.github.io/liquid/basics/types/#array
-->

{% assign posts = site.hard_challenges | where: "type", "writeup" | sort: 'date' | reverse | slice: 0, 4 %}
{% if posts.size > 0 %}
    {% assign toc_file = site.hard_challenges | where: "type", "toc" | first %}
    <a href="{{toc_file.url}}"><h2>{{ toc_file.title }}</h2></a>
    <ul>
    {% for post in posts %}
        <li>
            <span>{{ post.date | date_to_string }}</span> » <a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a>
        </li>
    {% endfor %}
    </ul>
{% endif %}

{% assign posts = site.intermediate_challenges | where: "type", "writeup" | sort: 'date' | reverse | slice: 0, 4 %}
{% if posts.size > 0 %}
    {% assign toc_file = site.intermediate_challenges | where: "type", "toc" | first %}
    <a href="{{toc_file.url}}"><h2>{{ toc_file.title }}</h2></a>
    <ul>
    {% for post in posts %}
        <li>
            <span>{{ post.date | date_to_string }}</span> » <a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a>
        </li>
    {% endfor %}
    </ul>
{% endif %}

{% assign posts = site.easy_challenges | where: "type", "writeup" | sort: 'date' | reverse | slice: 0, 4 %}
{% if posts.size > 0 %}
    {% assign toc_file = site.easy_challenges | where: "type", "toc" | first %}
    <a href="{{toc_file.url}}"><h2>{{ toc_file.title }}</h2></a>
    <ul>
    {% for post in posts %}
        <li>
            <span>{{ post.date | date_to_string }}</span> » <a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a>
        </li>
    {% endfor %}
    </ul>
{% endif %}

<p>
* The categories are somewhat arbitrary. Where the source defines the difficulty, 
e.g. [/r/dailyprogrammer](https://old.reddit.com/r/dailyprogrammer), I use the 
same difficulty here. In other cases, I use this rubric:

<ul>
    <li>
        Easy: Taking an intro programming course at college, e.g. 
        <a href="https://www.cs.princeton.edu/courses/archive/fall19/cos126/">
        COS 126 - Computer Science: An Interdisciplinary Approach</a> is sufficient.
    </li>
    <li>
        Intermediate: Taking a basic data structures and algorithms class is 
        sufficient. This class is usually the one right after the introductory 
        one, e.g. <a href="https://www.cs.princeton.edu/courses/archive/fall19/cos226/">
        COS 226 - Algorithms and Data Structures</a>
    </li>
    <li>
        Hard: Requires more than the basic data structures and algorithms class. 
    </li>
</ul>
</p>
