---
---

@import "{{ site.theme }}";

.page-header {
    padding: 1%; /* The default is using too much space */
}

/*
 * https://developer.mozilla.org/en-US/docs/Web/CSS/Layout_cookbook/Breadcrumb_Navigation
 */
.breadcrumb ul {
    display: flex;
    list-style: none;
    align-items: center;
}
    
.breadcrumb li::before {
    content: " → ";
}
    
.breadcrumb li:first-child::before {
    content: "";
}

/* End of breadcrumb CSS */