---
layout: default
---

{% assign challenge_level = page.path | split: "/" | first | remove_first: "_" %}

{% assign words = challenge_level | split: "_" %}
{% capture titlecase %}
{% for word in words %}{{ word | capitalize }} {% endfor %}
{% endcapture %}

<nav aria-label="Breadcrumb" class="breadcrumb">
    <ul>
        <li><a href="{{site.baseurl}}/">Home</a></li>
        <li><a href="{{site.baseurl}}/{{challenge_level}}">{{ titlecase }}</a></li>
        <li><span aria-current="page">{{page.title}}</span></li>
    </ul>
</nav>

{{ content }}
